<footer class="footer">
  <nav class="footer__icon">
    <a href="#header">
      <img
        class="footer__icon__img"
        src="./assets/images/ico-arrow.svg"
        alt="ico-arrow"
        title="ir a inicio"
    /></a>
  </nav>

  <nav class="footer__menu">
    <ul class="footer__menu__one">
      <li>
        <a class="footer__menu__link" href="https://adalab.es/">articles</a>
      </li>
      <li><a class="footer__menu__link" href="https://adalab.es/">books</a></li>
      <li>
        <a class="footer__menu__link" href="https://adalab.es/">events</a>
      </li>
      <li>
        <a class="footer__menu__link" href="https://adalab.es/">reasons</a>
      </li>
      <li><a class="footer__menu__link" href="https://adalab.es/">tips</a></li>
    </ul>
    <ul class="footer__menu__two">
      <li>
        <a class="footer__menu__social" href="https://adalab.es/">twiter</a>
      </li>
      <li>
        <a class="footer__menu__social" href="https://adalab.es/">instagram</a>
      </li>
      <li>
        <a class="footer__menu__social" href="https://adalab.es/"
          >mastodon.social</a
        >
      </li>
    </ul>
  </nav>
  <small class="footer__copy">@2021</small>
  <div class="love">
    <p class="love__text">we components</p>
  </div>
</footer>
