<footer class="footer">
  <nav class="footer__icon">
    <a href="#header">
      <img
        class="footer__icon__img"
        src="./assets/images/ico-arrow.svg"
        alt="ico-arrow"
        title="ir a inicio"
    /></a>
  </nav>

  <div class="footer__all">
    <nav class="footer__menu">
      <ul class="footer__menu__one">
        <li>
          <a
            class="footer__menu__link"
            href="https://adalab.es/"
            target="_blank"
            >articles</a
          >
        </li>
        <li>
          <a
            class="footer__menu__link"
            href="https://adalab.es/"
            target="_blank"
            >books</a
          >
        </li>
        <li>
          <a
            class="footer__menu__link"
            href="https://adalab.es/"
            target="_blank"
            >events</a
          >
        </li>
        <li>
          <a
            class="footer__menu__link"
            href="https://adalab.es/"
            target="_blank"
            >reasons</a
          >
        </li>
        <li>
          <a
            class="footer__menu__link"
            href="https://adalab.es/"
            target="_blank"
            >tips</a
          >
        </li>
      </ul>
      <ul class="footer__menu__two">
        <li>
          <a
            class="footer__menu__social"
            href="https://adalab.es/"
            target="_blank"
            >twiter</a
          >
        </li>
        <li>
          <a
            class="footer__menu__social"
            href="https://adalab.es/"
            target="_blank"
            >instagram</a
          >
        </li>
        <li>
          <a
            class="footer__menu__social"
            href="https://adalab.es/"
            target="_blank"
            >mastodon.social</a
          >
        </li>
      </ul>
    </nav>
    <nav class="footer__copy__love">
      <small class="footer__copy">@2021</small>
      <p class="love__text">we components</p>
    </nav>
  </div>
</footer>
