<header class="header">
  <nav class="header__icon">
    <a href="https://adalab.es/">
      <img
        class="header__icon-menu"
        src="./assets/images/ico-menu.svg"
        alt="menu"
        title="Ir a Adalab.es"
      />
    </a>
  </nav>
  <section class="header__title" id="header">
    <h1 class="header__title__principal">Anonymous proxy</h1>
    <h2 class="header__title__subtitle">In hac habitasse platea dictumst</h2>
    <nav class="header__title__buttom">
      <a href="#3reason"
        ><img
          src="./assets/images/ico-scroll-down.svg"
          alt="icon scroll down"
          title="Ir a 3 reason"
      /></a>
    </nav>
  </section>
</header>
