<main>
  <section class="first">
    <h4 class="first__tip">Insomnia tips</h4>
    <h2 class="first__title">Looking through a window</h2>
    <p class="first__section1">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex daim nec lectus. Vivamus semper sodales rutrum.
    </p>
    <nav class="first__button">
      <a
        class="first__button__link"
        href="https://adalab.es/"
        title="Ir a Adalab.es"
        >Go</a
      >
    </nav>
  </section>

  <section class="second">
    <h2 class="second__title" id="3reason">3 reason to purchase</h2>
    <include
      src="./articles.html"
      title="Ut sed metus"
      text="Lorem ipsum dolor sit amet consectetur"
    ></include>
    <include
      src="./articles.html"
      title="Carabitur ac erat"
      text="Mauris mattis urna quis lorem molestie."
    ></include>
    <include
      src="./articles.html"
      title="Morbi dictum"
      text="Aliquam in dolor et dolor tincidunt"
    ></include>
    <nav class="second__button">
      <a
        class="second__button__link"
        href="https://adalab.es/"
        title="Ir a Adalab.es"
        >More reasons</a
      >
    </nav>
  </section>
</main>
