.header {
  height: 100vh;

  &__icon {
    width: 44px;
    height: 44px;
    background-color: #0271bc;
    text-align: center;
    line-height: 44px;
    position: fixed;

    &-menu {
      width: 16px;
      height: 14px;
    }
  }
  &__title {
    background-image: url("../images/cover.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: auto;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: 768px) {
      justify-content: flex-end;
    }
    &__principal {
      font-family: $font_RobotoSlab;
      text-transform: uppercase;
      font-size: 42px;
      width: 15ch;
      text-align: center;
      margin: 5px;
      @media (min-width: 768px) {
        font-size: 80px;
        margin-bottom: 20px;
        @media (min-width: 1150px) {
          font-size: 100px;
          margin-bottom: 0px;
        }
      }
    }
    &__subtitle {
      font-family: $font-Roboto;
      font-size: 15px;
      line-height: 21px;
      margin: 5px;
      text-align: center;
      @media (min-width: 768px) {
        font-size: 24px;
        margin-bottom: 30px;
        margin-top: 0px;
      }
    }
    &__buttom {
      background-color: #ffff;
      height: 45px;
      width: 45px;
      line-height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transform: translateY(45px);
      @media (min-width: 768px) {
        transform: translateY(0);
        margin-bottom: 45px;
      }
      @media (min-width: 1150px) {
        margin-bottom: 13px;
      }
    }
  }
}
