.first {
  margin: 15px;
  @media (min-width: 768px) {
    margin: 39px;
  }
  &__tip {
    margin-top: 30px;
    color: #8ccbea;
    font-family: $font_Roboto;
    font-size: 14px;
  }
  &__title {
    font-size: 24px;
    font-family: $font_RobotoSlab;
    @media (min-width: 768px) {
      font-size: 26px;
    }
  }
  &__section1 {
    margin-top: 15px;
    font-size: 18px;
    font-family: $font_Roboto;
    @media (min-width: 768px) {
      font-size: 20px;
    }
  }
  &__button {
    margin-top: 30px;
    border: $color_buttom solid 2px;
    width: 76px;
    height: 45px;
    border-radius: 25px;
    text-align: center;
    line-height: 45px;
    font-family: $font_Roboto;
    font-size: 20px;
    transition: transform linear 1s, background-color linear 1s,
      font-size linear 1s;
    &__link {
      text-decoration: none;
      color: $color_buttom;
      transition: color linear 1s;
    }
  }
}
.first__button:hover {
  transform: scale(1.5);
  background-color: $color_buttom;
  font-size: 25px;
}
.first__button__link:hover {
  color: #ffff;
}

.second {
  line-height: 30px;
  background-color: #eff9ff;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 45px;
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  &__title {
    font-family: $font_RobotoSlab;
    font-size: 24px;
    width: 290px;
    text-transform: capitalize;
    margin: auto;
    @media (min-width: 768px) {
      grid-column: span 3;
    }
  }
  &__article {
    width: 184px;
    margin: auto;
    text-align: center;

    &__title {
      font-family: $font_RobotoSlab;
      font-size: 18px;
    }
    &__text {
      font-family: $font_Roboto;
      font-size: 18px;
    }
  }
}

.second__button {
  margin: auto;
  width: 174px;
  height: 45px;
  background-color: $color_buttom;
  border-radius: 25px;
  text-align: center;
  line-height: 45px;
  margin-bottom: 60px;
  transition: transform ease 1s, background-color ease 1s;

  @media (min-width: 768px) {
    grid-column: span 3;
  }
  &__link {
    font-family: $font_Roboto;
    font-size: 20px;
    color: #ffff;
    text-decoration: none;
  }
}

.second__button:hover {
  transform: scale(1.5);
  background-color: #ffff;
  border: black solid 1px;
}
.second__button__link:hover {
  color: purple;
}
